<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link th:href="@{/styles/index.css}" rel="stylesheet" />
<title>Book Lovers Kingdom</title>
</head>
<body>
	<div class="container mt-5 w-80">
		<div th:replace="~{fragments :: header(home)}"></div>
	</div>
	
	<div class="row">
		<div class="col mx-5 mt-4 border py-3" id="newsDiv">
			<h3 class="text-center">LATEST NEWS</h3>
			<hr class="mw-100">
		</div>
		<div class="col-8 mt-4 jumbotron bg-light border border-info py-4" id="contentDiv">
			<h3 class="position-absolute text-center text-dark m-0 px-3 py-2">
	        	Add New Book
	        </h3>
	        <hr class="my-5"/>
	        
	        <div class="px-3 mb-4">
	        	<form th:object="${book}" th:action="@{/admin/add-book}" method="post" enctype="multipart/form-data">
				  <div class="form-group">
				    <label for="title">Title:</label>
				    <input type="text" class="form-control" th:field="*{title}" required>
				  </div>
				  <div class="form-group">
				    <label for="" class="form-label">Book's Cover Image</label>
					<input type="file" name="bookImage" class="form-control-file" 
							accept="image/jpeg, image/jpg, image/png" 
							onchange="readBookImage(this);" />
				  </div>
				  <div class="form-group">
				    <img alt="" src="#" id="bookImagePreview" height="180px" width="180px" />
				    <input type="hidden" name="coverImgPath" th:value="*{coverImgPath}" />
				  </div>
				  <div class="form-group">
				    <label for="firstName">Author's First Name:</label>
				    <input type="text" class="form-control" th:field="*{authorFirstName}" required>
				  </div>
				  <div class="form-group">
				    <label for="lastName">Author's Last Name:</label>
				    <input type="text" class="form-control" th:field="*{authorLastName}" required>
				  </div>
				  <div class="form-group">
				    <label for="genre">Genre:</label>
				    <input type="text" class="form-control" th:field="*{genre}" required>
				  </div>
				  <div class="form-group">
				    <label for="numberOfPages">Number of Pages:</label>
				    <input type="number" min="1" max="5000" class="form-control" th:field="*{numberOfPages}" required>
				  </div>
				  <div class="form-group">
				    <label for="publisher">Publisher:</label>
				    <input type="text" class="form-control" th:field="*{publisher}" required>
				  </div>
				  <div class="form-group">
				    <label for="publishingDate">Publishing Date:</label>
				    <input type="date" class="form-control" th:field="*{publishingDate}" required>
				  </div>
				  <div class="form-group">
				    <label for="languages">Language:</label>
				    <select class="form-control custom-select" th:field="*{language}" required>
					  <option value="" selected>Choose a Language</option>
					  <option value="AF">Afrikaans</option>
					  <option value="SQ">Albanian</option>
					  <option value="AR">Arabic</option>
					  <option value="HY">Armenian</option>
					  <option value="EU">Basque</option>
					  <option value="BN">Bengali</option>
					  <option value="BG">Bulgarian</option>
					  <option value="CA">Catalan</option>
					  <option value="KM">Cambodian</option>
					  <option value="ZH">Chinese (Mandarin)</option>
					  <option value="HR">Croatian</option>
					  <option value="CS">Czech</option>
					  <option value="DA">Danish</option>
					  <option value="NL">Dutch</option>
					  <option value="EN">English</option>
					  <option value="ET">Estonian</option>
					  <option value="FJ">Fiji</option>
					  <option value="FI">Finnish</option>
					  <option value="FR">French</option>
					  <option value="KA">Georgian</option>
					  <option value="DE">German</option>
					  <option value="EL">Greek</option>
					  <option value="GU">Gujarati</option>
					  <option value="HE">Hebrew</option>
					  <option value="HI">Hindi</option>
					  <option value="HU">Hungarian</option>
					  <option value="IS">Icelandic</option>
					  <option value="ID">Indonesian</option>
					  <option value="GA">Irish</option>
					  <option value="IT">Italian</option>
					  <option value="JA">Japanese</option>
					  <option value="JW">Javanese</option>
					  <option value="KO">Korean</option>
					  <option value="LA">Latin</option>
					  <option value="LV">Latvian</option>
					  <option value="LT">Lithuanian</option>
					  <option value="MK">Macedonian</option>
					  <option value="MS">Malay</option>
					  <option value="ML">Malayalam</option>
					  <option value="MT">Maltese</option>
					  <option value="MI">Maori</option>
					  <option value="MR">Marathi</option>
					  <option value="MN">Mongolian</option>
					  <option value="NE">Nepali</option>
					  <option value="NO">Norwegian</option>
					  <option value="FA">Persian</option>
					  <option value="PL">Polish</option>
					  <option value="PT">Portuguese</option>
					  <option value="PA">Punjabi</option>
					  <option value="QU">Quechua</option>
					  <option value="RO">Romanian</option>
					  <option value="RU">Russian</option>
					  <option value="SM">Samoan</option>
					  <option value="SR">Serbian</option>
					  <option value="SK">Slovak</option>
					  <option value="SL">Slovenian</option>
					  <option value="ES">Spanish</option>
					  <option value="SW">Swahili</option>
					  <option value="SV">Swedish </option>
					  <option value="TA">Tamil</option>
					  <option value="TT">Tatar</option>
					  <option value="TE">Telugu</option>
					  <option value="TH">Thai</option>
					  <option value="BO">Tibetan</option>
					  <option value="TO">Tonga</option>
					  <option value="TR">Turkish</option>
					  <option value="UK">Ukrainian</option>
					  <option value="UR">Urdu</option>
					  <option value="UZ">Uzbek</option>
					  <option value="VI">Vietnamese</option>
					  <option value="CY">Welsh</option>
					  <option value="XH">Xhosa</option>
					</select>
				  </div>
				  <div class="form-group">
				    <label for="isbn">ISBN:</label>
				    <input type="text" class="form-control" th:field="*{isbn}" required>
				  </div>
				  <div class="form-group">
				    <label for="isForSale">Buying Option:</label>
				    <div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" th:field="*{isForSale}" id="yesForSale" value="1">
					  <label class="form-check-label" for="yesForSale">Yes</label>
					</div>
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" th:field="*{isForSale}" id="noForSale" value="0" checked>
					  <label class="form-check-label" for="noForSale">No</label>
					</div>
				  </div>
				  <div class="form-group">
				    <label for="isForRent">Renting Option:</label>
				    <div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" th:field="*{isForRent}" id="yesForRent" value="1" checked>
					  <label class="form-check-label" for="yesForRent">Yes</label>
					</div>
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" th:field="*{isForRent}" id="noForRent" value="0">
					  <label class="form-check-label" for="noForRent">No</label>
					</div>
				  </div>
				  <div class="form-group">
				  	<label for="priceforSale">Price for Sales:</label>
				  	<div class="input-group mb-2">
				        <div class="input-group-prepend">
				          <div class="input-group-text">$</div>
				        </div>
				        <input id="priceforSale" type="number" maxlength="12" step="0.01" placeholder="0.00" 
				        		class="form-control" th:field="*{salesPrice}" required>
			      	</div>
				  </div>
				  <div class="form-group">
				    <label for="salesQuantity">Quantities for Sale:</label>
				    <input type="number" min="1" max="100" class="form-control" th:field="*{salesQuantity}" required>
				  </div>
				  <div class="form-group">
				  	<label for="priceforRent">Price for Rents:</label>
				  	<div class="input-group mb-2">
				        <div class="input-group-prepend">
				          <div class="input-group-text">$</div>
				        </div>
				        <input id="priceforRent" type="number" maxlength="12" step="0.01" placeholder="0.00" 
				        		class="form-control" th:field="*{rentPrice}" required>
				        <span class="col-sm-1 font-weight-bold text-left">/ weekly</span>
			      	</div>
				  </div>
				  <div class="form-group">
				    <label for="ebookPath" class="form-label">eBook Path</label>
<!-- 					<input class="form-control-file" id="ebookPath" type="file" /> -->
					<input type="file" name="bookFilePath" class="form-control-file" 
							accept="application/pdf" />
					<input type="hidden" name="eBookPath" th:value="*{eBookPath}" />
				  </div>
				  
				  <button type="submit" class="btn btn-success mt-4" style="min-width: 100px">Save</button>
<!-- 				  <button type="button" class="btn btn-danger mt-4" style="min-width: 100px" onclick="history.back()">Cancel</button> -->
				  <a th:href="'javascript:returnAdminPage()'" class="btn btn-danger btn-lg mt-4" style="min-width: 100px">Cancel</a>
		  		</form>
	        </div>
        </div>
		
	</div>
	
	<div th:replace="~{fragments :: footer}"></div>
	<div th:replace="~{fragments :: scripts}"></div>
	<div th:replace="~{fragments :: scripts_list}"></div>
</body>
</html>