<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="header(option)">
		<nav class="navbar navbar-expand-lg navbar-light border border-dark mt-3" style="background-color: #FAFAF5;">
		  <img th:src="@{/img/comit.png}" class="img-thumbnail" />
		  <a class="navbar-brand ml-2" th:href="@{/}">Book Lovers Kingdom</a>
		
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav ml-auto">
		      <li class="nav-item" th:classappend="${option == 'home' ? 'active' : ''}">
		        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
		      </li>
<!-- 		      <li class="nav-item" th:classappend="${option == 'news' ? 'active' : ''}"> -->
<!-- 		        <a class="nav-link" th:href="@{/news}">News</a> -->
<!-- 		      </li> -->
<!-- 		      <li class="nav-item" th:classappend="${option == 'about' ? 'active' : ''}"> -->
<!-- 		        <a class="nav-link" th:href="@{/about}">About Us</a> -->
<!-- 		      </li> -->
<!-- 		      <li class="nav-item dropdown" th:classappend="${option == 'browse' ? 'active' : ''}"> -->
<!-- 		        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false"> -->
<!-- 		          Browse -->
<!-- 		        </a> -->
<!-- 		        <div class="dropdown-menu"> -->
<!-- 		          <span class="font-weight-bold">Favorite Genres</span> -->
<!-- 		          <a class="dropdown-item" th:href="@{/}">Biography</a> -->
<!-- 		          <a class="dropdown-item" th:href="@{/}">Business</a> -->
<!-- 		          <a class="dropdown-item" th:href="@{/}">Children's</a> -->
<!-- 		          <a class="dropdown-item" th:href="@{/}">Classics</a> -->
<!-- 		          <a class="dropdown-item" th:href="@{/}">Comics</a> -->
<!-- 		          <a class="dropdown-item" th:href="@{/}">Crime</a> -->
<!-- 		          <a class="dropdown-item" th:href="@{/genres}">Fantasy</a> -->
<!-- 		          <a class="dropdown-item" th:href="@{/}">All Genres</a> -->
<!-- 		        </div> -->
<!-- 		      </li> -->
<!-- 		      <li class="nav-item" th:classappend="${option == 'friends' ? 'active' : ''}"> -->
<!-- 		        <a class="nav-link" th:href="@{/friends}">Friends</a> -->
<!-- 		      </li> -->
		      <li class="nav-item" th:classappend="${option == 'signup' ? 'active' : ''}" th:if="${authUser == ''}">
		        <a class="nav-link" th:href="@{/signup}">Sign Up</a>
		      </li>
		      <li class="nav-item active" th:if="${authUser != ''}">
		        <a class="nav-link">Hello, <span sec:authentication="name"></span></a>
		      </li>
		      <li class="nav-item" th:classappend="${option == 'home' ? 'active' : ''}" th:if="${authUser != ''}">
		        <a class="nav-link" th:href="@{/logout}">Logout</a>
		      </li>
		    </ul>
		  </div>
		</nav>
	</div>
	
	<div th:fragment="footer">
		<div>
		  <footer class="text-center" style="background-color: #FAFAF5;">
		  	  <div class="p-2">
		  	  	<h1 class="display-5">BookLoversKingdom.com</h1>
		  	  </div>
			  <!-- Grid container -->
			  <div class="container">
			    <!-- Section: Social media -->
			    <section>
			      <!-- Facebook -->
			      <a
			        class="btn btn-link btn-floating btn-lg text-dark m-1"
			        href="#!"
			        role="button"
			        data-mdb-ripple-color="dark">
			        <i class="fab fa-facebook-f"></i>
			      </a>
			
			      <!-- Twitter -->
			      <a
			        class="btn btn-link btn-floating btn-lg text-dark m-1"
			        href="#!"
			        role="button"
			        data-mdb-ripple-color="dark">
			        <i class="fab fa-twitter"></i>
			      </a>
			
			      <!-- Instagram -->
			      <a
			        class="btn btn-link btn-floating btn-lg text-dark m-1"
			        href="#!"
			        role="button"
			        data-mdb-ripple-color="dark">
			        <i class="fab fa-instagram"></i>
			      </a>
			    </section>
			    <!-- Section: Social media -->
			  </div>
			  <!-- Grid container -->
			
			  <!-- Copyright -->
			  <div class="text-center text-dark p-2">
			    Copyright ©2024 All rights reserved 
			  </div>
			  <!-- Copyright -->
			</footer>
		</div>
	</div>
	
	<div th:fragment="scripts">
		<script src="https://kit.fontawesome.com/f4e20c8794.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </div>
    
    <div th:fragment="scripts_list">
	    <script th:inline="javascript">
		    /*<![CDATA[*/
		    
	    	let operation = /*[[${operation}]]*/ '';
	
		  	/*]]>*/
		  	
		  	if (operation != null) {
		  		iziToast.show({
		  		    title: 'Success',
		  		    message: 'The user was ' + operation + 'd successfully',
		  		    position: 'topRight',
		  		    timeout: 5000,
		  		    color: 'green'
		  		});
		  	}
		
		
			function deleteBook(idBook) {
				iziToast.question({
				    timeout: 20000,
				    close: false,
				    overlay: true,
				    displayMode: 'once',
				    id: 'question',
				    zindex: 999,
				    title: 'Hey',
				    message: 'Do you want to delete the book id: ' + idBook + '?',
				    position: 'center',
				    buttons: [
				        ['<button><b>YES</b></button>', function () {
				            document.location.href = '/admin/delete-book/' + idBook;
				        }, true],
				        ['<button>NO</button>', function (instance, toast) {
				            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
				        }],
				    ]
				});
			}
	
		    function addBook() {
		    	document.location.href = '/admin/add-book';
	    	}
		    
		    function returnAdminPage() {
		    	document.location.href = '/admin';
		    }
		    
		    function redirectToReview(idBook) {
		    	document.location.href = '/book/review/' + idBook;
		    }
		    
		    function readBookImage(input) {
	            if (input.files && input.files[0]) {
	                var reader = new FileReader();

	                reader.onload = function (e) {
	                    $('#bookImagePreview')
	                        .attr('src', e.target.result);
	                };

	                reader.readAsDataURL(input.files[0]);
	            }
	        }
		    
		    function search() {
		    	let searchText = document.getElementById("searchBox").value;
		    	document.location.href = '/book/search/' + searchText;
		    }
    	</script>
    </div>
</body>
</html>